<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdyLix-Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AdyLix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A4F0AAB1BD4656000C8A8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4F0AC71BD4656000C8A8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4F0AD21BD4656000C8A8D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9AA7DD1BF14A9500DEE2BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
