<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>560913105169-rgbt2no53jincjubsrmcerne3jr66f4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560913105169-rgbt2no53jincjubsrmcerne3jr66f4r</string>
	<key>API_KEY</key>
	<string>AIzaSyAPuid1qgn9Ejx-y4K7w5SCbcdS3D677XU</string>
	<key>GCM_SENDER_ID</key>
	<string>560913105169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ady.lix</string>
	<key>PROJECT_ID</key>
	<string>adylix-16f2b</string>
	<key>STORAGE_BUCKET</key>
	<string>adylix-16f2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:560913105169:ios:34b201753f693f42</string>
	<key>DATABASE_URL</key>
	<string>https://adylix-16f2b.firebaseio.com</string>
</dict>
</plist>